name: Sync Master to NT

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main

jobs:
  sync-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Merge master into NT
        uses: devmasx/merge-branch@v1.4.0
        with:
          type: now
          from_branch: master
          target_branch: NT
          github_token: ${{ secrets.GITHUB_TOKEN }}
          message: "chore: sync master into NT"
